.container-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 227, 231);
    font-family: sans-serif;
    
}
.card-container {
    display: grid;
    width: 15%;
    grid-template-columns: auto ;
    grid-template-rows:  15rem 3rem 3rem 3rem 3rem;
    background-color: rgb(231, 227, 231);
    padding: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 2%;
    margin: 3% 0 1%;
}

.card-container > div {
    background-color: rgba(250, 246, 246, 0.973);
    border: 1px solid rgba(0, 0, 0, 0.116);
    font-size: 1rem;
    border-radius: 2%;
    color: rgba(0, 0, 0, 0.486);
}

.card1{
    padding: 4%;
}
.card-img{
    background-size: 100% 100% !important;
}

.card1 i{
    margin-right: 1.5%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 1.4rem;
    width: 60%;
    border-radius: 1%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding: 1.2rem;
    font-size: 1.2rem;
    border-radius: 2%;
    
  }
  .title{
    font-weight: 600;
    background-color: rgba(238, 236, 236, 0.973);
    cursor: pointer;
  }
  .title:hover{
    background-color: rgb(219, 217, 217);
  }
  @media only screen and (max-width: 1400px){
    .card-container{
        width: 30%;
    }
   
}
  @media only screen and (max-width: 1100px){
      .card-container{
          width: 40%;
      }
      .grid-container{
          width: 80%;
          font-size: 1rem !important;
      }
  }
  @media only screen and (max-width: 833px){
      .grid-item{
          font-size: 0.8rem !important;
          padding: 0.5rem !important;
          width: 100%;
      }
  }
  @media only screen and (max-width: 677px) and (min-width: 0px){
      .card-container{
          width: 70%;
      }
      .grid-container{
          width: 100%;
          padding: 0 !important;
      }
      .grid-item{
          width: 100%;
          font-size: 0.8rem !important;
          padding: 0.1rem !important;
      }
  }
 